.git
**/.env
**/.env.*
**/application-local.*
**/application-prod.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/id_rsa
**/id_ed25519
**/.aws
**/.ssh
**/secrets
**/target
**/node_modules
**/.next
**/*.log
apps/web
